%p#notice= notice

- if @game.lat.blank?
  = bootstrap_form_for(@game) do |f|
    =f.text_field :lat
    =f.text_field :long
    =f.text_field :cdc_lat
    =f.text_field :cdc_long
    =f.primary 'start'
- else
  .row
    .col-xs-6= button_to 'Stop!', post_stop_game_path(@game), class: 'btn btn-large btn-primary'
    .col-xs-6
      .pull-right
        %button#add_horde.btn.btn-large.btn-primary Add zombie horde

#map

:javascript
  $(function() {
    Zombie.init(52.0180795281519, 4.35335045134275)
    if(#{@game.lat.blank?}) {
      Zombie.placeDestinationMarker(true, 0, 0)
      Zombie.placeCDCMarker(true, 0, 0)
    }
    else {
      Zombie.placeDestinationMarker(false, #{@game.lat || 0}, #{@game.long || 0})
      Zombie.placeCDCMarker(false, #{@game.cdc_lat || 0}, #{@game.cdc_long || 0})
      Zombie.startGame(#{@game.locations.order(created_at: :desc).limit(50).to_json(only: [:lat, :long])})
    }

    $('#add_horde').on('click', function(e) {
      Zombie.addZombieHorde({id: 0});
    });

    #{
      @game.hordes.map { |h| "Zombie.addZombieHordeFromDB({ id: #{h.id}, lat: #{h.lat}, long: #{h.long}, radius: #{h.radius} });" }.join(' ')
    }
  })
