%p#notice= notice

#map

:javascript
  $(function() {

    if(#{@game.lat.blank?}) {
      Zombie.init(52.016584, 4.3506897)
      Zombie.placeDestinationMarker(true)
    }
    else {
      Zombie.init(#{@game.lat || 0}, #{@game.long || 0});
      Zombie.placeDestinationMarker(false, #{@game.lat || 0}, #{@game.long || 0})
      Zombie.startGame(52.016584,4.3506897)

    }
  })
