%p#notice= notice

%p
  %b Name:
  = @game.name
%p
  %b Lat:
  = @game.lat
%p
  %b Long:
  = @game.long
%p
  %b Finished:
  = @game.finished

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path

#map


:javascript
  $(function() {
    Zombie.init( #{@game.lat}, #{@game.long});
    setTimeout(function() {
      Zombie.startGame(52.016584,4.3506897)
    }, 1000);
    setTimeout(function() {
      Zombie.moveMarker(52.01597,4.3500187)
    }, 3000);
  })