%p#notice= notice

- if @game.lat.blank?
  = bootstrap_form_for(@game) do |f|
    =f.hidden_field :lat
    =f.hidden_field :long
    =f.primary 'start'
- else
  .row
    .col-xs-6= button_to 'Stop!', post_stop_game_path(@game), class: 'btn btn-large btn-primary'
    .col-xs-6
      .pull-right
        %button#add_horde.btn.btn-large.btn-primary Add zombie horde

.heart
  .top-left
  .top-right
  .bottom

#map

:javascript
  $(function() {
    if(#{@game.lat.blank?}) {
      Zombie.init(52.016584, 4.3506897)
      Zombie.placeDestinationMarker(true)
    }
    else {
      Zombie.init(#{@game.lat || 0}, #{@game.long || 0});
      Zombie.placeDestinationMarker(false, #{@game.lat || 0}, #{@game.long || 0})
      Zombie.startGame(52.016584,4.3506897)
    }

    $('#add_horde').on('click', function(e) {
      Zombie.addZombieHorde({id: 0});
    });

    #{
      @game.hordes.map { |h| "Zombie.addZombieHordeFromDB({ id: #{h.id}, lat: #{h.lat}, long: #{h.long}, radius: #{h.radius} });" }.join(' ')
    }
  })
