%p#notice= notice

%p
  %b Lat:
  = @location.lat
%p
  %b Long:
  = @location.long
%p
  %b Game:
  = @location.game

= link_to 'Edit', edit_location_path(@location)
\|
= link_to 'Back', locations_path
